@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('~@/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('~@/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Light-Italic';
    src: url('~@/assets/fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('~@/assets/fonts/Lato-Regular.ttf') format('truetype');
}